<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affichage</title>
</head>
<body>
<p>ID {{biblio.id}} | La bibliothèque nommée "{{biblio.nom}}" est située en {{biblio.region}}, dans la ville de {{biblio.ville}}. Cette bibliothèque possède {{biblio.nombre_livre}} livres. <a href="/livre/updatebiblio/{{biblio.id}}">(Edit)</a> <a href="/livre/deletebiblio/{{biblio.id}}">(Delete)</a></p>
<a href="/livre/accueil">Retourner à l'accueil</a>
<br><br><br><br>
<a href="/livre/formulairedirect/{{biblio.id}}/">Ajouter un livre dans CETTE bibliothèque</a>
<br><br><br><br>
Elle comporte les livres suivants :
  {% for l in liste %}
    <li> {{l}} </li>
  {% endfor %}
</body>
</html>